<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Rating</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>

        <tbody>
          <!-- TODO: Find a way to render content of each table row without enclosing tags.
          Probably with using ng-template -->
          <app-table-row></app-table-row>
        </tbody>
      </table>
    </div>
  </div>
</div>